<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <img src="https://avatars2.githubusercontent.com/u/13080681?s=460&v=4" alt="image profile" class="avatar">
    </div>
    <div class="col-12">
      <span class="title name">Oscar Zambrano</span>
    </div>
    <div class="col-12">
      <span class="title nickname">oscarEZP</span>
    </div>
    <div class="col-12 mt-2">
      <span class="fa fa-crosshairs"></span><span> Biografia</span>
    </div>
    <div class="col-12">
      <span class="fa fa-address-book"></span><span> Eamil</span>
    </div>
    <div class="col-12">
      <span class="fa fa-box"></span><span> Repositorios</span>
    </div>
    <div class="col-12">
      <span class="fa fa-users"></span><span> Numero de seguidores</span>
    </div>
  </div>
</div>
