<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <img src="https://avatars2.githubusercontent.com/u/13080681?s=460&v=4" alt="image profile" class="avatar">
    </div>
    <div class="col-12">
      <span class="title name">Oscar Zambrano</span>
    </div>
    <div class="col-12">
      <span class="title nickname">oscarEZP</span>
    </div>
    <div class="col-12 mt-2">
      <img class="icon" src="../../../assets/icons/organization icon.svg" alt="organizationIcon"> <span class="title description"> Biografia</span>
    </div>
    <div class="col-12 mt-1">
      <img class="icon" src="../../../assets/icons/location icon.svg" alt="locationIcon"><span class="title description"> Eamil</span>
    </div>
    <div class="col-12 mt-1">
        <img class="icon" src="../../../assets/icons/repositorie icon.svg" alt="reposIcon"><span class="title description"> Repositorios</span>
    </div>
    <div class="col-12 mt-1">
        <img class="icon" src="../../../assets/icons/followers icon.svg" alt="folowersIcon"><span class="title description"> Numero de seguidores</span>
    </div>
  </div>
</div>
