.title, .subtitle {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2.2px;
    word-spacing: -0.6px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
}

.name {
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
}

.nickname {
    font-size: 20px;
    font-style: italic;
}

.descriptions {
    font-size: 20px;
}

.icon {
    width: 24px;
    height: 24px;
}

.avatar {
  width: 280px;
  height: 280px;
  border-radius: 2px;
  box-shadow: 0 0 4px NaNpx rgba(0, 0, 0, 0.4);
}