* {
	box-sizing: border-box;
  }
  
  /* Style the search field */
  input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 90%;
  }
  
  /* Style the submit button */
  button {
	float: left;
	width: 7%;
	padding: 10px;
	-moz-box-shadow:inset 0px 39px 0px -24px #ac53f2;
	-webkit-box-shadow:inset 0px 39px 0px -24px #ac53f2;
	box-shadow:inset 0px 39px 0px -24px #ac53f2;
	background-color:#ac53f2;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
  }
  
  button:hover {
	background: #ac53f2;
  }
  
  /* Clear floats */
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }
