* {
	box-sizing: border-box;
  }
  
  /* Style the search field */
  input[type=text] {
	padding: 10px;
	font-size: 17px;
	float: left;
	width: 85%;
  }
  
  /* Style the submit button */
  button {
	float: left;
	width: 100px;
	height: 47px;
	-moz-box-shadow:inset 0px 39px 0px -24px #ac53f2;
	-webkit-box-shadow:inset 0px 39px 0px -24px #ac53f2;
	box-shadow:inset 0px 39px 0px -24px #ac53f2;
	background-color:#ac53f2;
	color: white;
	font-size: 17px;
	border-radius: 2px;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	position: relative;
	bottom: 2px;
  }
  
  button:hover {
	background: #ac53f2;
  }
  
  /* Clear floats */
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }

	.searchicon {
		width: 30px;
		height: 30px;
	}