/* You can add global styles to this file, and also import other style files */
@import './assets/sass/grid';

.vertical-centered-text {
	-ms-display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}