/* You can add global styles to this file, and also import other style files */
@import './assets/sass/grid';

.vertical-centered-text {
	-ms-display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 35px;
}

.mt-5 {
	margin-top: 53px,
}

.ml-2 {
	margin-left: 25px;
}

.github-title {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	width: 280px;
	height: 50px;
	letter-spacing: 0.8px;
	word-spacing: 1px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
  }

  .github-title .cursive {
	  font-style: oblique
  }